{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}  {% endblock %}</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="{% static 'plugin/layui2.4.5/css/layui.css' %}" media="all">
    {#标题图标#}
    <link rel="Bookmark" href="{% static 'favicon.ico' %}">
    <link rel="Shortcut Icon" href="{% static 'img/favicon.png' %}"/>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'plugin/layui2.4.5/layui.js' %}"></script>
    <script src="{% static 'plugin/layer/3.0/layer.js' %}"></script>

</head>
<body>
{% block content %}  {% endblock %}

</body>
</html>