{% extends './base.html' %}
{% load staticfiles %}

{% block content %}

    {% if user.is_authenticated %}
        <p style="font-family: 楷体;font-size: 20px;color: #393D49;">您目光深邃，一看您就是一位有思想的人。</p>
        <p><span style="color: #FD482C"> {{ user.username }}，欢迎您的到来！</span></p>
        <p>点击右上角&nbsp;<span style="color: #4476A7;">×</span>&nbsp;返回继续浏览</p>
        {#<a href="{% url 'usermanage:user_logout' %}">注销</a>&nbsp;<a href="{% url 'usermanage:password_change' %}">修改密码</a>#}
        {#<br>点击<a href="{% url 'usermanage:my_info' %}">查看</a>我的信息#}
        {#<br><a href="{% url 'itadmin:article_column' %}">后台管理</a>#}
    {% else %}
        <div class="login">
            <div class="login-screen">
                <h3 class="layui-form-label">登录</h3>
                <br>
                <form class="layui-form" action="." method="post">
                    {% csrf_token %}
                    <p style="color: #FD482C">{{ error_message }}</p>

                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            {{ form.password }}
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">登录</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            &nbsp;<a class="login-link" href="#">忘记密码?</a><br>
                            <p class="login-link">若还没有注册，请点击<a href="{% url 'usermanage:user_register' %}"
                                                               style="color: #FD482C">&nbsp;注册</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}