{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Change Password</h1>
    <p>为安全起见，请输入旧密码，然后输入两次新密码，以便我们验证您输入的密码是否正确。</p>
    <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<!--    修改密码的一些建议-->
    {% if form.new_password1.help_text %}
    <div class="text-left">
        <p>{{ form.new_password1.help_text|safe }}</p>
    </div>
    {% endif %}

    <form class="form-horizontal" action="." method="post">{% csrf_token %}
           Old password: <div class="col-md-6 text-left">{{ form.old_password }}</div>
           New password: <div class="col-md-6 text-left"> {{ form.new_password1 }}</div>
           New password confirmation: <div class="col-md-6 text-left">{{ form.new_password2 }}</div>
        <input type="submit" value="提交修改" class="btn btn-primary btn-lg"/>
    </form>

</div>
{% endblock %}