{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} </title>
    {#标题图标#}
    {#    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">#}

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    {% include './nav.html' %}
    {#    {% include 'account/login.html' %}#}
</nav>
<!--路径导航-->
<!--<ol class="breadcrumb">-->
<!--  <li><a href="#">Home</a></li>-->
<!--  <li><a href="#">Library</a></li>-->
<!--  <li class="active">Data</li>-->
<!--</ol>-->


<div class="content-section">
    <div class="container">
        <!-- Content -->
        <div class="row">
            <!-- 左侧栏 -->
            <div class="col-lg-8 col-md-8">
                {% block left_content %}{% endblock %}
            </div>
            <!-- 右侧栏 -->
            <div class="col-lg-4 col-md-4">
                {% include 'blog/sidebar.html' %}
            </div>

        </div>
    </div>
</div>

</body>
<footer>
    {% include 'blog/footer.html' %}
</footer>

</html>