{% extends './base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}文章详情页{% endblock %}
{% block left_content %}
    {% if curr_article %}
        <div>
            <strong>&nbsp;点赞本文的读者：</strong>
            {% for user in curr_article.dianzan.all %}
                <p> &nbsp;<span class="glyphicon glyphicon-user">{{ user.username }}，&nbsp;</span></p>
            {% empty %}
                <p>
                    <small>&nbsp;此文章还没有人点赞呢~</small>
                </p>
            {% endfor %}
        </div> <br>
        {#        详细内容展示模块    #}
        <div style="border:1px solid #9F9F9F;">
            <h2 style="color:#806973;font-family: 楷体;">&nbsp;{{ curr_article.title }}  </h2>
            <p>&nbsp;<span
                    class="glyphicon glyphicon-time">{{ curr_article.publish_date |date:'Y-m-d ' }} &nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-eye-open">浏览量 {{ total_click }} &nbsp;&nbsp;</span>
                <span class="glyphicon glyphicon-heart">点赞数 {{ curr_article.dianzan.count }}&nbsp;&nbsp;&nbsp;</span>
                {% if user in curr_article.dianzan.all %}
                    <span style="color: #f38e81;">您已点赞</span>
                {% else %}
                    <span><a href="javascript:;" onclick="article_dianzan({{ curr_article.article_id }}, 'like')"><span
                            class="glyphicon glyphicon-thumbs-up"></span>点赞&nbsp;&nbsp;&nbsp;</a></span>
                {% endif %}
            </p>
            <p>&nbsp;<span class="glyphicon glyphicon-tags"
                           style="color: #009f95">Tags:</span>&nbsp;{{ curr_article.tag.all |join:', ' }}</p>
            <hr>
            <p style="border:1px dashed #2980B9;border-radius: 12px;">&nbsp;<span
                    class="glyphicon glyphicon-send">摘要：</span>{{ curr_article.brief_content }}</p>
            <p>
            <h3 style="border:1px dashed #2980B9;border-radius: 12px;">&nbsp;内容：</span>{{ curr_article.content }}</h3></p>
            <hr>
        </div>

        {#    评论模块    #}
        <hr>
        <div class="comment">
            {% for comment in curr_article.article_comment.order_by %}
                <div>
              <span>
{#              <img src="" style="width: 30px;height: 30px;">#}
                 <strong style="color: #393D49;font-size: 15px;color:#2F4056">{{ comment.commentator }}</strong> - &nbsp;{{ comment.created_time |date:'Y-m-d H:i:s'|naturaltime }}
                  &nbsp;<span class="glyphicon glyphicon-comment"></span>
              </span>
                    <div class="comment-content"><br> &nbsp;&nbsp;&nbsp;{{ comment.content }}</div>
                    &nbsp;&nbsp;<hr>
                </div>
            {% empty %}
                <br> <p>快来第一个评论吧~</p>
            {% endfor %}
            <h3>看文章，发评论，不要沉默</h3>
            {% if user.is_authenticated %}
                <div style="color: #393D49;font-size: 15px;color:#2F4056">用户：{{ user.username }}</div>
                <div>写评论：&nbsp;&nbsp;<br> <textarea name="id_content" id="id_content" cols="80" rows="3" placeholder="在这里写评论哦~"></textarea>
                    <br><input type="button" id="add_comment" value="发评论"/>
                </div>

            {% else %}
                <br>  <p style="color: red">您还未登录，请在右上角登录后再来评论~</p>
            {% endif %}
        </div>

        {#    上一篇 下一篇   #}
        <div>
   <span aria-label="...">
    <ul class="pager">
     <li><a href="/blog/detail/{{ previous_article.article_id }}">上一篇：{{ previous_article.title }}</a></li>
     <li><a href="/blog/detail/{{ next_article.article_id }}">下一篇：{{ next_article.title }}</a></li>
    </ul>
  </span>
        </div>
    {% else %}
        <p>没有找到您要的文章，请正确操作哦~</p>
    {% endif %}

    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
        {#文章点赞    ajax方式#}

        function article_dianzan(id, action) {
            $.ajax({
                url: "{% url 'blog:article_dianzan' %}",
                type: "POST",
                data: {
                    'id': id,
                    'action': action,
                },
                async: false,
                success: function (e) {
                    console.log("run");

                    if (e == "1") {
                        layer.msg('感谢点赞,我会继续努力...');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);

                    } else {
                        layer.msg('亲爱的，登录后再来点赞哦~');
                    }
                },
            });
        }

        {#  发表评论   #}
        $('#add_comment').on('click', function () {
            var content = $('#id_content').val();

            $.ajax({
                url: "{% url 'blog:article_comment' %}",
                type: 'POST',
                data: {'article_id':{{ curr_article.article_id }}, 'content': content},
                success: function (e) {
                    if (e == "1") {
                        layer.msg('感谢您的评论,我会继续努力...');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else if (e == "null") {
                        layer.msg('内容不能为空');
                    } else {
                        layer.msg('评论失败，请重试.');
                    }
                },
            });
        });
    </script>

{% endblock %}
