{% extends './base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}懂得Talk-详情页-董衍杰的个人博客{% endblock %}
{% block left_content %}

    {% if curr_article %}
        <!--导航条-->
        <nav class="breadcrumb">
            <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/blog/" class="c-primary">首页</a>
                <span class="c-gray en">&gt;</span> <span class="c-gray">文章</span>
                <span class="c-gray en">&gt;</span> <span class="c-gray">{{ curr_article.title }}</span></div>
        </nav>


        {# ----------------------------------------------------------------    #}
        <div class="widewrapper main">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 blog-main">
                        <article class="blog-teaser">
                            <header>

                                <div style="float: left;">
                                    <strong>&nbsp;点赞本文的读者：</strong>
                                    <p>
                                        {% for user in curr_article.dianzan.all %}
                                            &nbsp;<span>{{ user.username }}，&nbsp;</span>
                                        {% empty %}
                                            <small>&nbsp;此文章还没有人点赞呢~</small>
                                        {% endfor %}
                                    </p>
                                </div>


                                {#                                <div class="lead-image">#}
                                <img src="/static/{{ curr_article.article_pic }}" alt="">
                                {#                                </div>#}
                            </header>
                            <div class="body">
                                <h2>{{ curr_article.title }}</h2>
                                <div class="meta">
                                    <i class="fa fa-list"></i>所属分类 （{{ curr_article.column }}）
                                    <i class="fa fa-calendar"></i>{{ curr_article.publish_date |date:'Y-m-d ' }}&nbsp;&nbsp;
                                    <i class="fa fa-database"></i>浏览量 （{{ total_click }}）&nbsp;&nbsp;
                                    <i class="fa fa-user"></i>点赞数 （{{ curr_article.dianzan.count }}）&nbsp;&nbsp;
                                    {% if user in curr_article.dianzan.all %}
                                        <span style="color: #f38e81;">您已点赞</span>
                                    {% else %}
                                        <span><a href="javascript:;" style="color: #FD482C;"
                                                 onclick="article_dianzan({{ curr_article.article_id }}, 'like')"><span
                                                class="fa fa-star-half"></span>点赞&nbsp;&nbsp;&nbsp;</a></span>
                                    {% endif %}
                                    <br> <span
                                        style="color: #009f95"> Tags:&nbsp;&nbsp;{{ curr_article.tag.all |join:',  ' }}</span>
                                </div>
                                <pre>
                                    {{ curr_article.content }}
                                </pre>

                            </div>
{#                            <p>#}
{#                                <a href="http://www.aliyun.com/product/ecs" target="_blank"><strong><span#}
{#                                    style="color: rgb(0, 0, 255);">前往阿里云官网购买&gt;&gt;</span></strong></a>#}
{#                            </p>#}
                        </article>

                        <aside class="pagination">
                            <a class="page-link" href="/blog/detail/{{ previous_article.article_id }}">
                                <i class="fa fa-caret-left"
                                   aria-hidden="true"></i>上一篇：{{ previous_article.title| slice:':10' }}...</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="page-link" href="/blog/detail/{{ next_article.article_id }}">
                                下一篇：{{ next_article.title| slice:':10' }}...<i class="fa fa-caret-right"
                                                                               aria-hidden="true"></i></a>

                        </aside>

{#                        <aside class="social-icons clearfix">#}
{#                            <h3>分享到.. </h3>#}
{#                            <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-qq"></i></a> <a#}
{#                                href="#"><i class="fa fa-weixin"></i></a>#}
{#                        </aside>#}


                        <aside class="comments" id="comments">
                            <hr>
                            <h2><i class="fa fa-comments"></i> 共 {{ curr_article.article_comment.count }} 条评论</h2>

                            {% for comment in curr_article.article_comment.order_by %}
                                <article class="comment">
                                    <header class="clearfix">
                                        <img src="{% static 'img/user-image.png' %}" alt="A Smart" class="avatar">
                                        <div class="meta">
                                            <h3><a href="#">{{ comment.commentator }}</a></h3>
                                           <i class="fa fa-send "></i>{{ comment.created_time |date:'Y-m-d H:i:s'|naturaltime }}
                                            <span class="separator">
                                        -
                                    </span>
                                            <a href="#create-comment" class="reply-link">&nbsp;Reply</a>
                                        </div>
                                    </header>
                                    <div class="body">
                                        {{ comment.content }}
                                    </div>
                                </article>
                            {% empty %}
                                <br> <p>快来第一个评论吧~</p>
                            {% endfor %}
                            {#  回复评论 。。#}
                            {#                        <article class="comment reply">#}
                            {#                            <header class="clearfix">#}
                            {#                                <img src="img/avatar.png" alt="A Smart Guy" class="avatar">#}
                            {#                                <div class="meta">#}
                            {#                                    <h3><a href="#">John Doe</a></h3>#}
                            {#                                    <span class="date">#}
                            {#                                        24 August 2015#}
                            {#                                    </span>#}
                            {#                                    <span class="separator">#}
                            {#                                        -#}
                            {#                                    </span>#}
                            {##}
                            {#                                    <a href="#create-comment" class="reply-link">Reply</a>#}
                            {#                                </div>#}
                            {#                            </header>#}
                            {#                             <div class="body">#}
                            {#                               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere sit perspiciatis debitis, vel ducimus praesentium expedita, assumenda ipsum cum corrupti dolorum modi. Rem ipsam similique sapiente obcaecati tenetur beatae voluptatibus.#}
                            {#                            </div>#}
                            {#                        </article>#}

                        </aside>
                        <!-- Blog Comments Section -->
                        <!--用于评论-->
                        <aside class="create-comment" id="create-comment">
                            <hr>
                            {% if user.is_authenticated %}
                                <h2><i class="fa fa-pencil"></i> 来都来了，说两句吧~~</h2>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" name="name" id="comment-name"
                                               placeholder="{{ user.username }}| Your Name"
                                               class="form-control input-lg" disabled="true">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" name="email" id="comment-email" placeholder="Email"
                                               class="form-control input-lg">
                                    </div>
                                </div>
                                <textarea rows="10" name="id_content" id="id_content" placeholder="在这里写评论~ "
                                          class="form-control input-lg"></textarea>

                                <div class="buttons clearfix">
                                    <button type="button" class="btn btn-xlarge btn-clean-one" id="add_comment"
                                            value=""> 发评论
                                    </button>
                                </div>

                            {% else %}
                                <br>
                                <p>您还未登录，请<a href="#"><span style="color: #FD482C">&nbsp;登录&nbsp;</span></a>后再来评论~</p>
                            {% endif %}
                        </aside>

                    </div>

                </div>
            </div>
        </div>
    {% else %}
        <p>没有找到您要的文章，请正确操作哦~</p>
    {% endif %}



    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
        {#文章点赞    ajax方式#}

        function article_dianzan(id, action) {
            $.ajax({
                url: "{% url 'blog:article_dianzan' %}",
                type: "POST",
                data: {
                    'id': id,
                    'action': action,
                },
                async: false,
                success: function (e) {
                    console.log("run");

                    if (e == "1") {
                        layer.msg('感谢点赞,我会继续努力...');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);

                    } else {
                        layer.msg('亲，登录后再来点赞哦~');
                    }
                },
            });
        }

        {#  发表评论   #}
        $('#add_comment').on('click', function () {
            var content = $('#id_content').val();

            $.ajax({
                url: "{% url 'blog:article_comment' %}",
                type: 'POST',
                data: {'article_id':{{ curr_article.article_id }}, 'content': content},
                success: function (e) {
                    if (e == "1") {
                        layer.msg('感谢您的评论,我会继续努力...');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else if (e == "null") {
                        layer.msg('评论内容不能为空~');
                    } else {
                        layer.msg('评论失败，请重试.');
                    }
                },
            });
        });
    </script>

{% endblock %}


{#      侧边栏显示#}
{% block sidebar %}

    <!-- 推荐相似文章 Blog -->
    <div class="aside-widget">
        {% if silimar_article_list %}
            <header>
                <h3><strong>相似文章</strong></h3>
            </header>
            <div class="body">
                {% for article in silimar_article_list %}
                    <ul class="clean-list">
                        <li>
                            <p>-<a href="/blog/detail/{{ article.article_id }}">
                                {{ article.title | slice:':15' }}...  <!-- 最多显示10个字符 -->
                            </a></p>
                        </li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}
    </div>


    <!-- 最热文章 Blog  热门推荐-->
    <div class="aside-widget">
        <header>
            <h3><strong>热门推荐</strong></h3>
        </header>
        <div class="body">
            {% for article in hot_article_list %}
                <ul class="clean-list">
                    <li>
                        {{ forloop.counter }}、<a href="/blog/detail/{{ article.article_id }}">
                        {{ article.title | slice:':15' }}...  <!-- 最多显示10个字符 -->
                    </a>
                        {#   {{ article.publish_date |date:'Y-m-d ' }}</p>#}
                        <i class="Hui-iconfont" title="点击量">&nbsp;&nbsp;&#xe6c1;</i> {{ article.click }}
                    </li>
                </ul>
            {% endfor %}
        </div>
    </div>


    <!--友情链接-->
    <div class="aside-widget">
        <div class="tab-category">
            <a href=""><strong>友情链接</strong></a>
        </div>
        <div class="tab-category-item">
            <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">百度</a></span>
            <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">淘宝</a></span>
            <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">腾讯</a></span>
            <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">慕课网</a></span>
            <span><i class="Hui-iconfont">&#xe6f1;</i><a href="#" class="btn-link">h-ui</a></span>
        </div>
    </div>

{% endblock %}