{% load staticfiles %}

<!-- Footer -->
<div class="container page-footer">
    <hr>
    <p style="text-align: center">从免费分享开始，致力做到最好的IT分享网站</p>
    <p class="pt-2 pb-2">Copyright @ 2019
        <a href="http://" rel="nofollow" target="_blank" title="ICP备案号：鲁ICP备xxx号">&nbsp;ICP备案号：鲁ICP备xxx号</a>
        <a rel="nofollow" href="https://" target="_blank">&nbsp;文章归档</a>
        <a rel="nofollow" href="https://" target="_blank">&nbsp;举报中心</a>
        <a href="{% url 'itadmin:article_column' %}">&nbsp;后台管理</a>
    </p>
        <p> <a href="#"><i class="fa fa-chevron-up" aria-hidden="true"></i>回到顶部</a></p>

</div>


