{% extends './base.html' %}
{% load staticfiles %}

{% block title %}首页{% endblock %}
{% block left_content %}
    <div class="body-main">
        {% for article in page_article_list %}
            <div style="border:1px solid #9F9F9F">
                <h3>
                    <a href="/blog/detail/{{ article.article_id }}">{{ article.title }}</a>
                </h3>

                <div class="col-md-12">
                    <img src="" class="col-md-3" width="50px" height="80px">
                    <span class="col-md-9">{{ article.brief_content |truncatewords:30 }}</span> {# 显示 变量的前30个单词#}
                </div>
                <div style="text-align: right">
                    <span class="glyphicon glyphicon-time">{{ article.publish_date |date:'Y-m-d ' }}&nbsp;&nbsp;&nbsp;</span>
                    <span class="glyphicon glyphicon-edit">分类: {{ article.column }}&nbsp;&nbsp;&nbsp;</span>
                    <span>点赞数 {{ article.dianzan.count }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    {% if user in article.dianzan.all %}
                        <span>已点赞</span>
                    {% else %}
                        <span><a href="javascript:;" onclick="article_dianzan({{ article.article_id }}, 'like')"><span
                                class="glyphicon glyphicon-thumbs-up"></span>点赞&nbsp;&nbsp;&nbsp;</a></span>
                    {% endif %}
                    <span><a href="/blog/detail/{{ article.article_id }}" title="阅读全文">&nbsp;&nbsp;阅读全文&nbsp;&nbsp;&nbsp;</a></span>
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>

    <!-- 分页 -->
    <div class="col-md-4 col-md-offset-3">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    {% if page_article_list.has_previous %}
                        {#         返回上一页的页码   #}
                        <a href="?page={{ page_article_list.previous_page_number }}">&laquo;</a>
                    {% else %}
                        <a href="?page={{ page_article_list.number }}">&laquo;</a>
                    {% endif %}

                </li>
                {% for num in page_num %}
                    <li><a href="/blog/index?page={{ num }}">{{ num }}</a></li>
                {% endfor %}
                <li>
                    {% if page_article_list.has_next %}
                        {#         返回下一页的页码   #}
                        <a href="?page={{ page_article_list.next_page_number }}">&raquo;</a>
                    {% else %}
                        <a href="?page={{ page_article_list.paginator.num_pages }}">&raquo;</a>
                    {% endif %}

                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
        {#文章点赞    ajax方式#}

        function article_dianzan(id, action) {
            $.ajax({
                url: "{% url 'blog:article_dianzan' %}",
                type: "POST",
                data: {
                    'id': id,
                    'action': action,
                },
                async: false,
                success: function (e) {
                    console.log("run");

                    if (e == "1") {
                        layer.msg('感谢点赞,我会继续努力...');
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);

                    } else {
                        layer.msg('亲爱的，登录后再来点赞哦~');
                    }
                },
            });
        }

    </script>

{% endblock %}

