
{% load staticfiles %}
<div>
{% if user.is_authenticated %}
     {% if userinfo.photo_url %}
        <img src="/{{ userinfo.photo_url | striptags }}" class="img-circle" id="my_photo" name="user_face" style="height: 120px;width: 120px;">
      {% else %}
        <img name="user_face" src="{% static 'images/new.jpg' %}" class="img-circle" id="my_photo" style="height: 160px;width: 120px;">
      {% endif %}
    <br>
<br><p>欢迎您： {{ user.username }} &nbsp;&nbsp;&nbsp;</p>
    {% if userinfo %}
       <p>{{ userinfo.about }}</p>
    {% else %}
        <p>作者太懒了，什么也没有留下……</p>
    {% endif %}
<a href="{% url 'account:user_logout' %}">注销</a>&nbsp;
<br>点击<a href="{% url 'account:my_info' %}">查看</a>我的信息
{% else %}
如您还没有注册，请点击<a href="{% url 'account:user_register' %}">Register</a>注册
<form action="." method="post">
    {% csrf_token %}
    {{form.as_p}}          <!--每个表单元素在一个p标签内，类似的还有as_ul as_table 等等-->
    <input type="submit" value="Login">
</form>
{% endif%}
</div>

{#<div class="col-md-3">#}
{#  <p>记录生活，分享交流...（登录）</p>#}
{#      <form class="navbar-form navbar-right">#}
{#          {% csrf_token %}#}
{#        <div class="form-group">#}
{#          <input type="text" class="form-control" placeholder="username">#}
{#          <input type="text" class="form-control" placeholder="password">#}
{#        </div>#}
{#        <button type="submit" class="btn btn-default">Login</button>#}
{#        <button type="reset" class="btn btn-default">Register</button>#}
{#      </form>#}
{##}
{#     <p>还没有账户，请点击 <a href="">注册</a> ...</p>#}
{#</div>#}