{% load staticfiles %}

<!-- Main Navigation -->
<div class="container">
    <a class="navbar-brand js-scroll-trigger" href="index.html">
        {#        <img class="img-fluid" src="{% static 'img/logo.png' %}" alt="logo">#}
        <strong>懂得</strong><span>生活</span>
    </a>
    <!-- Toggle get grouped for better mobile display -->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="nav navbar-nav nav-pills ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="/blog/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:aboutme' %}">关于<span>我</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:resources' %}">资源分享</a>
            </li>
            <li class="nav-item" onmouseover="onMouseover('cate_list')" onmouseout="onMouseout('cate_list')">
                <a class="nav-link" href="javascript:;">技术杂谈</a>
                <ul id="cate_list" style="display: none">
                    {% for column in columns %}
                        {% if column.id is not 6 %}
                            <li><a href="/blog/cetegory/{{ column.id }}">{{ column.column }}()</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/cetegory/6">生活感悟</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:guestbook' %}">给<span>我</span>留言&nbsp;&nbsp;</a>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="#" class="nav-link">
                        {% if user.userinfo.photo_url %}
                            <img src="/{{ user.userinfo.photo_url | striptags }}" class="img-circle" id="my_photo"
                                 name="user_face" style="height: 25px;width: 30px;">
                        {% else %}
                            <img name="user_face" src="{% static 'images/photo.jpg' %}" class="img-circle"
                                 id="my_photo" style="height: 25px;width: 30px;">
                        {% endif %}
                        &nbsp;欢迎您：<span> {{ user.username }}</span></a>
                </li>
                <li class="nav-item"><a href="{% url 'account:user_logout' %}" class="nav-link"><span>注销</span></a></li>

            {% else %}
                <ul>
                    <li><a href="#" id="userLogin"><span>登录</span></a></li>
                    <li><a href="#" id="userRegister"><span>注册</span></a></li>
                </ul>
            {% endif %}
        </ul>
    </div>
</div>

{#  轮播图 #}
{#<div class="jumbotron col-md-9">#}
{#  <h1>Hello, django!</h1>#}
{#  <p>记录生活，分享交流...</p>#}
{#  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
{#</div>#}
{##}
{#</div>#}
{##}

<script src="{% static 'js/layer.js' %}"></script>
<script>
    //弹出一个页面层 登录页
    $('#userLogin').on('click', function () {
        layer.open({
            title: '用户注册/登录',
            type: 1,
            type: 2,
            area: ['500px', '500px'],
            shadeClose: true, //点击遮罩关闭
            content: '{% url "account:user_login" %}',
            btn: ['Cancel'],
            btn1: function (index, layero) {
                parent.location.reload();
            }
        });
    });
    //弹出一个页面层 注册页
    $('#userRegister').on('click', function () {
            layer.open({
                title: '用户注册/登录',
                type: 1,
                type: 2,
                area: ['500px', '620px'],
                shadeClose: true, //点击遮罩关闭
                content: '{% url "account:user_register" %}',
                btn: ['Cancel'],
                btn1: function (index, layero) {
                    parent.location.reload();
                }
            });
        }
    );


    function onMouseover(obj) {
        var div = document.getElementById(obj);
        div.style.display = "block";
    }

    function onMouseout(obj) {
        var div = document.getElementById(obj);
        div.style.display = "none";
    }


</script>