{% extends './base.html' %}
{% load staticfiles %}

{% block title %}自助打印-董衍杰的个人博客{% endblock %}
{% block left_content %}

    <!--路径导航  导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i>
            <a href="/blog/" class="c-primary">首页</a>
            <span class="c-gray en">&gt;</span> <span class="c-gray">自助下单打印</span>
        </div>
    </nav>

    <!--  Section -->
        <section class="container">
            <div class="row">
                <h2>打印功能测试中,敬请期待...</h2>
            </div>
        </section>



{% endblock %}



