{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} </title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <!-- Custom fonts -->
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/blog.js' %}"></script>

</head>


<body>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    {% include './nav.html' %}
    {#    {% include 'account/login.html' %}#}
</nav>

<div class="content-section">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-12 text-center">
                    <!-- Breadcrumb Navigation -->
                    <div class="seprate-page-title pt-5 pb-4">
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Recources</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section id="my-work" class="mt-5 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-12">
                    <!-- Portfolio Category Tab -->
                    <div class="tabs-wrapper">
                        <ul class="nav classic-tabs tabs-cyan about-tab justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link waves-light active" data-toggle="tab" href="#panel51" role="tab"
                                   aria-expanded="true">Web 前端</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" data-toggle="tab" href="#panel52" role="tab"
                                   aria-expanded="false">服务器后端系列</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" data-toggle="tab" href="#panel53" role="tab"
                                   aria-expanded="false">Python爬虫系列</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab"
                                   aria-expanded="false">数据库系列</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" data-toggle="tab" href="#panel54" role="tab"
                                   aria-expanded="false">程序员工具系列</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Portfolio Content -->
            <div class="tab-content about-tab-pane text-center mt-5">
                <div class="tab-pane fade in active show" id="panel51" role="tabpanel" aria-expanded="true">
                    <div class="row">
                        <!-- Portfolio Block -->
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <!-- Portfolio Image -->
                                <img class="img-fluid" src="img/1.jpg" alt="portfolio">
                            </a>
                            <!-- Portfolio Title -->
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 1</p>
                            </div>
                            <!-- Portfolio Modal -->
                            <div class="modal fade" id="portfolio1">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/1.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <!-- Portfolio Image -->
                                <img class="img-fluid" src="img/2.jpg" alt="portfolio">
                            </a>
                            <!-- Portfolio Title -->
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 2</p>
                            </div>
                            <!-- Portfolio Modal -->
                            <div class="modal fade" id="portfolio2">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/2.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/3.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 3</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio3">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/3.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="panel54" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio28">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/9.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 1</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio28">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/9.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio29">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/9.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 2</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio29">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/9.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio30">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/9.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 3</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio30">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/9.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane fade" id="panel52" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio10">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/8.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 1</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio10">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/8.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio11">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/8.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 2</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio11">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/8.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio12">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/8.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 3</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio12">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/8.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="panel53" role="tabpanel" aria-expanded="false">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio19">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/7.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 1</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio19">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/7.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 portfolio-item">
                            <a class="portfolio-link" data-toggle="modal" href="#portfolio20">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content">
                                        <i class="fa fa-plus fa-3x"></i>
                                    </div>
                                </div>
                                <img class="img-fluid" src="img/7.jpg" alt="portfolio">
                            </a>
                            <div class="portfolio-caption">
                                <p class="text-muted">Illustration 2</p>
                            </div>
                            <!-- The Modal -->
                            <div class="modal fade" id="portfolio20">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Project Name</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <img class="img-fluid model-img mt-2 mb-3" src="img/7.jpg" alt="portfolio">
                                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet,
                                                consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt
                                                minus dignissimos deserunt repellat aperiam quasi sunt officia expedita
                                                beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere
                                                nemo!</p>
                                            <p> Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                                has roots in a piece of classical Latin literature from 45 BC, making it
                                                over 2000 years old. Richard McClintock, a Latin professor at
                                                Hampden-Sydney College in Virginia, looked up one of the more obscure
                                                Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                                the cites of the word in classical literature, discovered the
                                                undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                                                of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
                                                Cicero, written in 45 BC. This book is a treatise on the theory of
                                                ethics, very popular during the Renaissance. The first line of Lorem
                                                Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                                                1.10.32.</p>

                                            <p class="pro-date">Date: January 2017</p>
                                            <p class="pro-client">Client: Explore </p>
                                            <p class="pro-category">Category: Graphic Design </p>
                                        </div>

                                        <!-- Modal Footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn-close" data-dismiss="modal"><i
                                                    class="fa fa-times"></i> Close
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

</body>


<footer>
    {% include 'blog/footer.html' %}
</footer>

</html>

