{% extends './base.html' %}
{% load staticfiles %}

{% block title %}资源共享-董衍杰的个人博客{% endblock %}
{% block left_content %}

    <!--路径导航  导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i>
            <a href="/blog/" class="c-primary">首页</a>
            <span class="c-gray en">&gt;</span> <span class="c-gray">资源分享</span>
        </div>
    </nav>


    <section>
        <div class="container">
            <!-- Breadcrumb Navigation -->
            <div class="seprate-page-title pt-5 pb-4">

                <p style="color: #009f95;">该模块正在升级更新中……</p>
            </div>
        </div>
    </section>

{% endblock %}



