{% extends './base.html' %}
{% load staticfiles %}
{% load humanize %}

{% block title %}文章查找 {% endblock %}

{#搜索关键字查找    #}
{% block left_content %}
    <!--导航条-->
    <nav class="breadcrumb">
        <div class="container"><i class="Hui-iconfont">&#xe67f;</i> <a href="/blog/" class="c-primary">首页</a>
            <span class="c-gray en">&gt;</span> <span class="c-gray">文章查找</span>
            {#                <span class="c-gray en">&gt;</span> <span class="c-gray">{{ curr_article.title }}</span>#}
        </div>
    </nav>


    {% if search_article %}
        <div class="row">
            {% for article in search_article %}
                <div class="col-md-6 col-sm-6">
                    <article class=" blog-teaser">
                        <header>
                        <img src="/static1/{{ article.article_pic }}" alt="">
                            {#                    标题     #}
                            <h3><a href="/blog/detail/{{ article.article_id }}">{{ article.title }}</a></h3>
                    <span class="meta">
                        / <span>点赞数 {{ article.dianzan.count }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                         <span> / 浏览量：{{ article.click }} &nbsp;&nbsp; </span>
                        <span>   / 评论总数：{{ article.article_comment.count }}</span>
                    </span>
                            <hr>
                        </header>

                        <div class="body">
                            {#                    摘要 ，简要内容...#}
                            {{ article.brief_content |truncatewords:30 }}
                        </div>
                        <div class="clearfix">
                            <a href="/blog/detail/{{ article.article_id }}" class="btn btn-clean-one">
                                Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>


        <!-- 分页 Blog Pagination -->
        <div class="blog-pagination">
            <ul class="pagination">
                <li class="page-item">
                    {% if page_article_list.has_previous %}
                        <a class="page-link" href="?page={{ page_article_list.previous_page_number }}">
                            <i class="fa fa-caret-left" aria-hidden="true"></i>上一页</a>
                    {% else %}
                        <a class="page-link" href="?page={{ page_article_list.number }}">
                            <i class="fa fa-caret-left" aria-hidden="true"></i></a>
                    {% endif %}
                </li>
                {% for num in page_num %}
                    <li class="page-item"><a href="/blog/index?page={{ num }}" class="page-link">{{ num }}</a></li>
                {% endfor %}

                <li class="page-item">
                    {% if page_article_list.has_next %}
                        <a class="page-link" href="?page={{ page_article_list.next_page_number }}">
                            <i class="fa fa-caret-right" aria-hidden="true"></i>下一页</a>
                    {% else %}
                        <a class="page-link" href="?page={{ page_article_list.paginator.num_pages }}">
                            <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                    {% endif %}
                </li>
            </ul>
        </div>

    {% else %}
        <p>抱歉， 没有搜索到符合条件的文章</p>
    {% endif %}

{% endblock %}


{% block sidebar %}
    {% include 'blog/sidebar.html' %}
{% endblock %}