{% load staticfiles %}

{# 天气预报#}
<div class="container">
    <hr>
        <div>
            <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=7" style="border:solid 1px #7ec8ea"
                    width="290" height="90" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>
        <div>
            <iframe name="weather_inc" src="http://i.tianqi.com/index.php?c=code&id=11" width="290" height="15"
                    frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div>
</div>


<!-- Right Column -->
<!-- Sidebar -->
<div class="blog-sidebar mt-4">
    <!-- Blog Search -->
    <div class="blog-search">
        <form method="post" action=".">
            <div class="form-group">
                <input type="text" class="form-control" name="search" placeholder="Search..">
            </div>
        </form>
    </div>


    <!-- 最新文章 Blog -->
    <div class="recent-blog mt-4">
        <h4>最新文章</h4>
        {% for article in recently_article_list %}
            <div class="clearfix mb-3">
                {#            <img class="float-left mr-3" src="img/1.jpg" alt="post" width="70px" height="70px">#}
                <p>{{ forloop.counter }}、<a href="/blog/detail/{{ article.article_id }}">
                    {{ article.title | slice:':20' }}  <!-- 最多显示10个字符 -->
                </a></p>
                <p>{{ article.publish_date |date:'Y-m-d ' }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- 最热文章 Blog -->
    <div class="recent-blog mt-4">
        <h4>最热文章</h4>
        {% for article in hot_article_list %}
            <div class="clearfix mb-3">
                {#            <img class="float-left mr-3" src="img/1.jpg" alt="post" width="70px" height="70px">#}
                <p>{{ forloop.counter }}、<a href="/blog/detail/{{ article.article_id }}">
                    {{ article.title | slice:':20' }}  <!-- 最多显示10个字符 -->
                </a></p>
                <p>{{ article.publish_date |date:'Y-m-d ' }}</p>
            </div>
        {% endfor %}
    </div>

    <!-- 评论最多文章 Blog -->
    <div class="recent-blog mt-4">
        <h4>评论最多文章</h4>
        {% for article in most_comment_article_list %}
            <div class="clearfix mb-3">
                {#            <img class="float-left mr-3" src="img/1.jpg" alt="post" width="70px" height="70px">#}
                <p>{{ forloop.counter }}、<a href="/blog/detail/{{ article.article_id }}">
                    {{ article.title | slice:':20' }}  <!-- 最多显示10个字符 -->
                </a></p>
                <p>{{ article.publish_date |date:'Y-m-d ' }}</p>
            </div>
        {% endfor %}
    </div>
    <!-- 推荐相似文章 Blog -->
    {% if silimar_article_list %}
        <div class="recent-blog mt-4">
            <h4>推荐相似文章</h4>
            {% for article in silimar_article_list %}
                <div class="clearfix mb-3">
                    {#            <img class="float-left mr-3" src="img/1.jpg" alt="post" width="70px" height="70px">#}
                    <p>{{ forloop.counter }}、<a href="/blog/detail/{{ article.article_id }}">
                        {{ article.title | slice:':20' }}  <!-- 最多显示10个字符 -->
                    </a></p>
                    <p>{{ article.publish_date |date:'Y-m-d ' }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- 文章分类  Blog Category -->
    <div class="blog-category mt-4">
        <h4>文章分类</h4>
        <ul>
            {% for column in columns %}
                {% if column.id is not 6 %}
                    <li><a href="/blog/cetegory/{{ column.id }}">{{ column.column }}({{ columns.count }})</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <!--文章标签  Blog Tags -->
    <div class="blog-tag mt-4">
        <h4>文章标签</h4>
        {% for tag in tags %}
            <a href="javascript:;" id="{{ tag.id }}">{{ tag.tag }}</a>
        {% endfor %}

    </div>
</div>
