{% extends './base.html' %}
{% load staticfiles %}

{% block title %}懂得Talk-下单打印-您的满意是我们最大的动力{% endblock %}


{% block left_content %}
    <script src="{% static 'plugin/layui2.4.5/layui.js' %}" type="text/javascript"></script>
    <script src="{% static 'plugin/layui2.4.5/lay/modules/upload.js' %}" type="text/javascript"></script>
    <div class="layui-card">
        <fieldset>
            <legend><a name="input"><h1 style="font-family: 楷体;color: #009f95;">----证件照清洗----</h1></a>
                <h3 style="font-family: 楷体;color: #92B8B1;">一寸,二寸证件照 8元/版 </h3>
                <br><span style="font-family: 楷体">(目前支持上传JPG.PNG,JPEG照片格式,其他格式请发QQ&nbsp;735238082)</span>
            </legend>
        </fieldset>
        <p style="color: #FD482C;">{{ error }}</p>

        <form class="layui-form layui-form-pane" action="" method="" enctype="multipart/form-data"
              style="background: #F6F6F6;font-weight:bold">
            {% csrf_token %}


            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-upload-drag" id="upload">
                        <i class="layui-icon"></i>
                        {{ form.photo_url }}
                        <p>点击上传，或将文件拖拽到此处</p>
                    </div>
                </div>
            </div>

            <label class="layui-label">带<span style="color: #FD482C">*</span>为必填项</label>

            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: #FD482C">*</span>打印尺寸</label>
                <div class="layui-input-block">
                    {{ form.photo_size }}
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: #FD482C">*</span>打印份数 </label>
                <div class="layui-input-block">
                    {{ form.print_number }}
                </div>
            </div>

            <span style="color: #FD482C">(提交点订单后,扫描右边二维码付款,备注好姓名 / 也可货到付款)</span>
            <div class="layui-form-item">
                <label class="layui-form-label">价格 </label>
                <div class="layui-input-block">
                    {{ form.price }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: #FD482C">*</span>您的姓名</label>
                <div class="layui-input-block">
                    {{ form.name }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: #FD482C">*</span>联系方式 </label>
                <div class="layui-input-block">
                    {{ form.phone_or_qq }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">什么时间要? </label>
                <div class="layui-input-block">
                    {{ form.what_time }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">配送地点(或自取)</label>
                <div class="layui-input-block">
                    {{ form.what_place }}
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><span style="color: #FD482C">*</span>打印码(打印点)</label>
                <div class="layui-input-block">
                    {{ form.print_point }}
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                {#            <div class="layui-textarea">#}
                {{ form.remark }}
                {#            </div>#}
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="button" id="tijiao" class="layui-btn layui-btn-fluid" lay-filter="formDemo">立即提交
                    </button>
                </div>
            </div>
        </form>
    </div>


    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });


        {#    自动计算价格#}
        $(document).ready(function () {
            $("#id_print_number").change(function () {
                $('#id_price').val($("#id_print_number").val() * 8);
            });
        });


    </script>

    <script>
        {#提交照片    ajax方式#}
        $('#tijiao').on('click', function () {

            {# //创建对象#}
            var formdata = new FormData();
            {#//这里FormData是一个jquery对象，用来绑定values对象，也可以用来上传二进制文件，有了他就可以不用form表单来上传文件了#}

            formdata.append('photo_url', $('[name=photo_url]')[0].files[0]);
            formdata.append('photo_size', $('[name=photo_size]').val());
            formdata.append('print_number ', $('[name=print_number]').val());
            formdata.append('price ', $('[name=price]').val());
            formdata.append('name ', $('[name=name]').val());
            formdata.append('phone_or_qq', $('[name=phone_or_qq]').val());
            formdata.append('what_time ', $('[name=what_time]').val());
            formdata.append('what_place ', $('[name=what_place]').val());
            formdata.append('print_point ', $('[name=print_point]').val());
            formdata.append('remark ', $('[name=remark]').val());
            formdata.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());

            var url_val = $('[name=photo_url]').val();
            if (url_val == "") {
                layer.msg('上传照片不能为空!');
                return;
            }
            {#  截取后缀名   #}
            var ext = url_val.substr(url_val.lastIndexOf(".") + 1);

            var flag = false;
            var arr = ["jpg", "JPG", "png", "PNG", "jpeg", "JPEG"];
            console.log(ext);
            //循环比较
            for (var i = 0; i < arr.length; i++) {
                if (ext == arr[i]) {
                    flag = true; //一旦找到合适的，立即退出循环
                    break;
                }
            }

            if (flag == false) {
                layer.msg('图片格式不合法,请重新上传！');
                return;
            }

            if ($('[name=photo_url]')[0].files[0] == '') {
                layer.msg('请选择要上传的照片~');
                return;
            }
            if ($('[name=name]').val() == '') {
                layer.msg('请输入您的姓名~');
                return;
            }
            if ($('[name=phone_or_qq]').val() == '') {
                layer.msg('请输入您的联系方式~');
                return;
            }
            if ($('[name=print_point]').val() != 'dxy') {
                layer.alert('请输入正确的打印码, 若第一次打印请联系QQ735238082获取打印码~');
                return;
            }

            $.ajax({
                url: '{% url 'oprint:upload_photo' %}',
                type: 'post',
                //让数据不被处理
                processData: false,
                contentType: false,
                data: formdata,
                dataType: 'JSON',
                success: function (e) {
                    if (e.status == 1) {
                        layer.msg('提交成功，稍后可查询订单 ...', {time: 2000})
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else if (e.status == 9) {
                        layer.msg(e.message, {time: 2000})
                    } else {
                        layer.alert('提交失败，请检查照片格式是否正确 ...', {time: 2000})
                    }
                }
            })
        })
    </script>

{% endblock %}


{% block sidebar %}
    {% include './sidebar.html' %}
{% endblock %}

