{% extends './base.html' %}
{% load staticfiles %}

{% block title %}下单打印{% endblock %}



{% block left_content %}

    {#    <form action="{% url 'oprint:upload_photo' %}" method="POST" enctype="multipart/form-data">#}
    <form action="" method="" enctype="multipart/form-data">

        {% csrf_token %}

        <p>照片打印</p>
        <p style="color:firebrick;"></p>{{ error }}
        {#        <ul>#}
        {#            <li>{{ form.photo_url }}</li>#}
        {#            <li> 尺寸：{{ form.photo_size }}</li>#}
        {#            <li> 打印份数：{{ form.print_number }}</li>#}
        {#            <li>总价：{{ form.price }}</li>#}
        {#            <li>您的姓名:{{ form.name }}</li>#}
        {#            <li>联系方式{{ form.phone_or_qq }}</li>#}
        {#            <li>什么时间要? {{ form.what_time }}</li>#}
        {#            <li>配送地点(或自取){{ form.what_place }}</li>#}
        {#            <li>打印点(打印码){{ form.print_point }}</li>#}
        {#            <li>备注{{ form.remark }}</li>#}
        {#            <li>打印状态{{ form.print_status }}</li>#}
        {#        </ul>#}

        {{ form.as_ul }}
        <input type="button" value="提交" id="tijiao">

    </form>

    <script type="text/javascript" src="{% static 'js/layer.js' %}"></script>
    <script>
        {#提交照片    ajax方式#}
        $('#tijiao').on('click', function () {

            {# //创建对象#}
            var formdata = new FormData();
            {#//这里FormData是一个jquery对象，用来绑定values对象，也可以用来上传二进制文件，有了他就可以不用form表单来上传文件了#}

            formdata.append('photo_url', $('[name=photo_url]')[0].files[0]);
            formdata.append('photo_size', $('[name=photo_size]').val());
            formdata.append('print_number ', $('[name=print_number]').val());
            formdata.append('price ', $('[name=price]').val());
            formdata.append('name ', $('[name=name]').val());
            formdata.append('phone_or_qq', $('[name=phone_or_qq]').val());
            formdata.append('what_time ', $('[name=what_time]').val());
            formdata.append('what_place ', $('[name=what_place]').val());
            formdata.append('print_point ', $('[name=print_point]').val());
            formdata.append('remark ', $('[name=remark]').val());
            formdata.append('csrfmiddlewaretoken', $('[name=csrfmiddlewaretoken]').val());

            if ($('[name=photo_url]')[0].files[0] == '') {
                layer.msg('请选择要上传的照片~');
                return;
            }
            if ($('[name=name]').val() == '') {
                layer.msg('请输入您的姓名~');
                return;
            }
            if ($('[name=phone_or_qq]').val() == '') {
                layer.msg('请输入您的联系方式~');
                return;
            }
            if ($('[name=print_point]').val() == '') {
                layer.msg('亲，打印码是一定要填的呀！~');
                return;
            }

            $.ajax({
                url: '{% url 'oprint:upload_photo' %}',
                type: 'post',
                //让数据不被处理
                processData: false,
                contentType: false,
                data: formdata,
                dataType: 'JSON',
                success: function (e) {
                    if (e.status == 1) {
                        layer.msg('提交成功，稍后可查询订单 ...', {time: 2000})
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000);
                    } else {
                        layer.alert('提交失败，请检查照片格式是否正确 ...', {time: 2000})
                    }
                }
            })
        })
    </script>

{% endblock %}