 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>编辑我的信息</h1>
<form action="." method="post">
    {% csrf_token %}
       {% for error in user_form.errors %}
        <li><strong>{{ error|escape }}</strong></li>
       {% endfor %}
    Username: <div class="col-md-6">{{user.username}}</div>
    Email: <div class="col-md-6">{{user_form.email}}</div>
    Birth: <div class="col-md-6">{{userinfo_form.birth}}</div>
    Phone: <div class="col-md-6">{{userinfo_form.phone}}</div>
    about: <div class="col-md-6">{{userinfo_form.about}}</div>
    <input type="submit" value="提交修改">
</form>

</body>
</html>