{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
<form action="." method="post">
    {% csrf_token %}
    <p style="color: red"> {{ error_message }} </p>
    用户名: <div class="col-md-6">{{form.username}}</div>
    邮箱: <div class="col-md-6">{{form.email}}</div>
    密码: <div class="col-md-6">{{form.password}}</div>
    确认密码: <div class="col-md-6">{{form.password2}}</div>
<br>
    <input type="submit" value="注册" style="width: 150px;font-size: 16px;border-radius: 10px; ">
</form>
<p>如您已有帐号，请点击<a href="{% url 'account:user_login' %}">Login</a>登录</p>

{% endblock %}