{% extends './base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="login">
		<div class="login-screen">
			<div class="app-title"><h3>Register</h3></div>
     <form action="." method="post">
			<div class="login-form">
				   {% csrf_token %}
                <p style="color : red">{{ error_message }}</p>
				<div class="control-group">用户名：{{ form.username }}</div>
				<div class="control-group">邮箱：{{ form.email }}</div>
				<div class="control-group">密码：{{ form.password }}</div>
				<div class="control-group">确认密码：{{ form.password2 }}</div>
			    <input type="submit" value="注册" class="btn btn-primary btn-large btn-block">
			</div>
       </form>
   <p class="login-link">若您已注册，请直接点击<a href="{% url 'account:user_login' %}">登录</a></p>

		</div>
	</div>

{% endblock %}